* { margin: 0; padding: 0; }
.clear { clear: both; }

body { background: #553; color: #FFD; font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: 16px; padding: 10px; }
a { color: #D17; }
a:hover { text-decoration: none; }

h1, #content.docs h2, #content.docs h3 { color: #199; margin-bottom: 10px; }
blockquote { border-left: 2px solid #553; font-size: 10px; padding: 0px 5px; }
p { margin: 5px 0px; }
.left { float: left; }
.right { float: right; }
.padmore { padding: 10px; }

#navigation { position: absolute; width: 180px; }
#navigation h1 { font-size: 20px; margin-top: 25px; }
#navigation li { list-style-type: none; margin-top: 5px; }
#navigation a { color: #FFD; text-decoration: none; }
#navigation a:hover { text-decoration: underline; }

#content { background: #FFD; border-radius: 5px; color: #553; padding: 10px; margin-left: 200px; }
#content h1 { font-size: 30px; text-shadow: #CC9 1px 1px 1px; letter-spacing: -1px; }
#content.docs { max-width: 800px; padding: 20px; }
#content.docs h2 { font-size: 20px; text-shadow: #DDA 1px 1px 1px; margin: 15px 0px 5px 0px; }
#content.docs li { list-style-type: none; }
.item { background: #199; color: #FFD; float: left; font-size: 20px; margin: 10px; padding: 10px; width: 200px; border-radius: 5px; }
.item a { color: #FFD; }
.item a:hover { text-decoration: none; }
.col2 { width: 440px; }
.small-text { font-size: 16px; }

.link { padding: 0px; }
.link a { background: #D17; border: 5px solid #D17; text-decoration: none; display: block; padding: 5px; border-radius: 5px; width: 200px; }
.link a:hover { background: #FFD; color: #D17; }

.mason { margin-top: 5px; }
.mason div { background: #FFD; color: #199; float: left; font-weight: bold; font-size: 30px; text-align: center; border-radius: 5px; margin: 5px; }

#images { position: relative; }
.pic { float: left; padding: 5px; position: relative; }
.pic img { border: 5px solid #553; border-radius: 3px; display: block; opacity: 0.3; }

#slider-explanation { margin-right: 330px; }
#slider-wrap { float: right; margin: 10px; width: 300px; }
#slider { font-size: 13px; }

.highlight, code { background: #553; border-radius: 5px; color: #FFD;  }
.highlight { margin: 10px 0px; padding: 10px; }
p code { padding: 1px 5px; }

#by { margin: 5px 5px 5px 220px; color: #AA7; font-style: italic; }
