<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% if page.category == 'home' %}{% assign path = './' %}
	{% else %}{% assign path = '../' %}{% endif %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% if page.category != 'home' %}{{ page.title }} &ndash; {% endif %}{{ site.name }}</title>
	<link rel="icon" type="image/ico" href="{{ path }}img/favicon.ico"/>
	<link rel="stylesheet" href="{{ path }}css/style.css" />
	<link rel="stylesheet" href="{{ path }}css/pygments.css" />
	<link rel="stylesheet" href="{{ path }}css/jquery-ui.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ path }}js/jquery.imagesloaded.js"></script>
	<script type="text/javascript" src="{{ path }}js/jquery.masonry.js"></script>
	<script type="text/javascript" src="{{ path }}jquery.masonry.ordered.js"></script>
</head>
<body>
	<div id="navigation">
		<h1><a href="{{ path }}">Masonry Ordered</a></h1>
		<ul>
		{% for p in site.posts reversed %}
			<li><a href="{{ p.url }}">{{ p.title }}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div id="content" class="{{ page.class }}">
		{{ content }}
	</div>

	<div id="by">jQuery Masonry Ordered by Vit 'tasuki' Brunner</div>
</body>
</html>
